@if (TempData["MailSuccess"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["MailSuccess"]
    </div>
}@if (TempData["ErrorResetPassword"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorResetPassword"]
    </div>
}

<div class="container mt-5" style="width:50%">
    <h2>Forgot Password</h2>
    <form method="post" action="/user/forgotpassword">
        <div class="form-group">
            <label for="Email">Email:</label>
            <input type="email" class="form-control bg-dark text-white" id="Email" name="Email" required />
        </div>
        <button type="submit" class="btn btn-primary" style="width:100%">Reset Password</button>
    </form>
</div>